{% extends 'base.html.twig' %}

{% block title %}Edit provider{% endblock %}

{% block body %}
<div class="container">
    <div class="well">
        {{ form(form) }}
        <a class="btn btn-default" href="{{ path('provider_list') }}" role="button">Back</a>
    </div>
    {% if successful_update is defined %}
        <span class="label {{ successful_update == true ? 'label-success' : 'label-danger' }}">{{ message }}</span>
    {% endif %}
</div>
{% endblock %}
